<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" src="register.component.css"/>
  </head>
  <body>
<p class="headthing">Reset your password:</p>
<br/>
<div class="container">


<p class="formtitle">Email:</p>
<div class="form-group">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your Email">
  </div>
  <p class="formtitle">Password:</p>
<div class="form-group">
    <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter your desired Password">
  </div>
  </div>
</body>

<div id="footer">
  <p>&copy; 2019 - All rights reserved.</p>
</div>
  
  </html>   