

<nav class="navbar navbar-success bg-success">
  <div class="btn-group" role="group">

    <button type="button" class="btn btn-light"><a routerLink="/home" routerLinkActive="active" class="text-dark">Home</a></button>
      <button type="button" class="btn btn-light"><a routerLink="/profile" routerLinkActive="active" class="text-dark">Profile</a></button>
      <button type="button" class="btn btn-light"><a routerLink="/login" routerLinkActive="active" class="text-dark">Login</a></button>
      <button type="button" class="btn btn-light"><a routerLink="/register" routerLinkActive="active" class="text-dark">Register</a></button>
      <button type="button" class="btn btn-light"><a routerLink="/reset" routerLinkActive="active" class="text-dark">Reset</a></button>
    <form class="form-inline">
      
       
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
  </div>
  

</nav>
<router-outlet></router-outlet>