.formtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}

.headthing {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 31pt;
}

#footer {
    background-color: #28A745;
    color: #FFF;
	padding: 0px 5px 5px 0px;
    text-align: center;
    
}
