<h3 class="display-3">Register</h3>
<br/>
<h5 class="display-5">First Name:</h5>
<div class="form-group">
    <input type="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter your First Name">
  </div>
<h5 class="display-5">Last Name:</h5>
<div class="form-group">
    <input type="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter your Last Name">
  </div>
<h5 class="display-5">Email:</h5>
<div class="form-group">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your Email">
  </div>
<h5 class="display-5">Password:</h5>
<div class="form-group">
    <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter your desired Password">
  </div>
  <h5 class="display-5">Phone Number:</h5>
  <div class="form-group">
      <input type="phonenumber" class="form-control" id="phonenumber" aria-describedby="emailHelp" placeholder="Enter your Password">
    </div>