<div class="card">
<div class="media">
    <img src="http://images4.wikia.nocookie.net/__cb20130329153342/nimblequest/images/0/02/Kills_skull_64x64.png" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">@Skullboi</h5>
      Just another day being on the internet.
    </div>
  </div>
</div>

<div class="card">
  <div class="media">
        <div class="media-body">
          <h5 class="mt-0 mb-1">@D00MSLAY3R556</h5>
          I'M SO PUMPED FOR DOOM ETERNAL Y'ALL
        </div>
        <img src="http://rs98.pbsrc.com/albums/l264/transilvanianhunger82/Pentagram.gif~c200" class="ml-3" alt="...">
      </div>
    </div>
    <div class="card">
      <div class="media">
            <img src="https://t00.deviantart.net/74YNIAGQM0VW5z-s8WxkSaMPV5U=/300x200/filters:fixed_height(100,100):origin()/pre00/52af/th/pre/f/2016/146/1/0/captain_americas_shield_pixel_art_by_xzavieryt-da3w0te.png" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">@CapUSA</h5>
              I'm so tired of fighting Hydra...
            </div>
          </div>
        </div>
        